{% extends "base.html" %}

{% block title  %}Shopping Tips &amp; Guides | Cartify Blog{% endblock title  %}

{% block meta_description %}Buying guides, product comparisons and selling tips from the Cartify team.{% endblock meta_description %}

{# no posts published yet - keep it out of the index until there is real content #}
{% block robots %}noindex, follow{% endblock robots %}

{% block extra_head %}{% endblock extra_head %}

{% block body  %}
<div class="blog-page">
    <h1>Cartify Blog</h1>
    <p>No posts have been published yet. Check back soon!</p>
</div>
{% endblock body  %}